.titulo {
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: "DM Sans", Sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.4em;

}

.container {
    display: flex;
 

}

.desc {

    animation: a 2s ;

    display: flex;
    justify-content: row;
    color: #B1B1B1;
    font-family: "DM Sans", Sans-serif;
    padding: 10px 15px 20px 50px;
    max-width: 650px;
    line-height: 1.4em;

}

@keyframes a {
    0% {
        opacity: 0.3;
        transform: translateY(5px);
    }

    50% {
        
        transform: translateY(0px);
        
    }   

}