.sessao {
    padding: 125px 30px 0px;
    background-image: url(../../../img/plano.svg);
    background-position: center center;
    position: relative;

}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.titulo {
    font-family: 'DM Sans', sans-serif;
    font-size: 42px;
    letter-spacing: 1.5px
}

.desc {
    font-family: 'DM Sans', sans-serif;
    font-size: 19px;
    font-weight: 100;
    line-height: 1.4em;
    text-align: center;
    max-width: 420px;
    padding: 15px;

}

.grupoItens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 120px;
    


}