.header {

    background-color: #000;


}

.center {
    display: flex;
    flex-direction: row;
    padding: 25px 22px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff;

}
