.sessao{
    background-color: #000;

}
.container{
    padding: 120px 22px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.containerConteudo{
    display: flex;
    flex-direction: row;
    
    
}
.conteudo{
    color: #fff;
    
}
.title{
    font-family: "DM sans" , sans-serif;
    font-size: 50px;
    font-weight: bold;
}



.desc{
    font-family: "DM sans" , sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #FFFFFF96;
    padding-top: 20px;
    margin-bottom: 30px;
    

}
.img{
    width: 100%;
    max-width: 550px;
  
}
